
.body {
  margin: 0;
  padding: 0;
}

.hero {
  width: 100%;
  height: 100vh;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: top;
  text-align: center;
  background-image: url(https://images.pexels.com/photos/983831/pexels-photo-983831.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1 {
  font-size: 3rem;
  text-align: right;
  color: #FC5F5F;
  margin-top: 50px;
}

a:link {
  text-decoration: none;
}


a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}