body {
  margin-top: 200px;
  padding: 0;
}
.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  color: white;
  background-color: #FC5F5F;
  text-align: center;
  height: 358px;
}
.hero-title {
  width: 90%;
  height: 100%;
  /* limit the width on bigger devices */
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  /* makes them line up on the right side (horizontal) */
  justify-content: right;
  /* text-align makes everything go to the right side */
  text-align: right;
  color: #F9F9F9;
  text-shadow: -6px -3px 22px #5e5757;
}
.hero-title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0;
}

.hero-subtitle {
  font-size: 2rem;
  font-weight: 200;
  margin-top: 1rem;
}

a {
  color: black;
  text-decoration: none;
}

