hero-img {
    display: inline-block;
    width: 84px;
    height: 84px;
    background: 
      linear-gradient(-179deg, rgba(244, 244, 244, 0.5) 0%, rgba(192, 192, 192, 0.5) 100%),
      url(https://picsum.photos/200/300?image=1069) center/cover;
    border-radius: 140px;
    box-shadow: 
     0 5px 10px 0px rgba(0,0,0,0.22), 
     0 10px 13px 0px rgba(0,0,0,0.34), 
     inset 0 18px 18px 0 rgba(255,255,255,0.35), 
     inset 0 -18px 18px 0 rgba(0,0,0,0.10);
  }