.body {
    margin-top: 60px;
    margin-bottom: 200px;
}

.results-btn {
    background-color: #FC5F5F;
    border: 1px solid #FC5F5F;
    border-radius: 50px;
    padding: 3px 36px;
    color: #F9F9F9;
    margin-left: 15px;
}
.results-btn:hover {
    background-color: #F9F9F9;
    border: 1px solid #FC5F5F;
    color: #FC5F5F;
}

.podcast-title {
    font-style: italic;
}

.episode-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.episode-desc {
    margin-top: 10px;
}

.container {
    margin-bottom: 100px;
}

.episode_img {
    margin-right: 20px;
}

.gray {
    color: gray;
}

.gray:hover {
    color:  #FC5F5F;
}
