.body {
    margin-top: 60px;
}

button {
    margin-left: 15px;
}

.podcast-title {
    font-style: italic;
}

.episode-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.episode-desc {
    margin-top: 10px;
}

.container {
    margin-bottom: 100px;
}