.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.nav-title{
    padding-left: 10px;
    color: white;
    margin-bottom: 0;
}

.nav-login-btn{
    color: #1DB954;
    font-weight: bold;
    background-color: black;
}

.nav-signup-btn{
    color:white;
    background-color: black;
}