.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.navbar-container{
    display: flex;
    align-items: center;
}

.nav-title{
    padding-left: 10px;
    color:white;
    margin-bottom: 0;
    font-size: 25px;
    text-decoration: none;
}


.nav-title:hover{
    padding-left: 10px;
    color: #FC5F5F;
    margin-bottom: 0;
    text-decoration: none;
}

.nav-login-btn{
    color: #FC5F5F;
    font-weight: bold;
    background-color: black;
}

.nav-login-btn:hover{
    color: white;
    font-weight: bold;
    background-color: black;
}

.nav-signup-btn{
    color: #FC5F5F;
    font-weight: lighter;
    background-color: black;
}

.nav-signup-btn:hover{
    color:white;
    font-weight: lighter;
    background-color: black;
}

.pink {
    color: #FC5F5F;
}
