.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.nav-title{
    padding-left: 10px;
    color: white;
    margin-bottom: 0;
}

.nav-login-btn{
    color: #AA4A44;
    font-weight: bold;
    background-color: black;
}

.nav-login-btn:hover {
    color: #fc5f5f;
    font-weight: bold;
}

.nav-signup-btn:hover {
    font-weight: bold;
    color: #fc5f5f;
}

.material-symbols-outlined {
    color: white;
}